.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 20%;
}
.header > div {
  display: flex;
  flex-direction: row;
}

.user-name {
  margin-right: 40px;
  font-size: 1.3em;
  font-weight: 400;
}

.logout {
  font-size: 1.3em;
  color: #49b4bb;
  font-weight: 400;
}

a {
  cursor: pointer;
}
