:host {
  height: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 100%;
}

.header {
  margin: 20px 0;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.table-header button i {
  margin-right: 7px;
}

.table-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
align-items: center;
}

.table-title{
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: 1px;
}
