.container {
  width: 480px;
  margin: 16px 16px 0px 16px;
}

.form {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  width: 45%;
  height: 40px;
  font-size: 21px;
}
